.post{
    background-color: white;
    border-radius: 20px;
    border: 1px solid grey;
    
    width: 680px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.postHeader{
    display: flex;
    flex-direction: row;
    margin: 20px 30px 20px 30px;
}
.postHeader>div:nth-of-type(1){
    width: 70%;
    height: 48px;
    margin: 0px;

    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "picture owner"
        "picture date";
    column-gap: 30px;
}
.postHeader>div:nth-of-type(1)>a:nth-of-type(1){
    height: 40px;
    width: 40px;
    grid-area: picture;
    text-decoration: none;
}
.postHeader>div:nth-of-type(1)>a:nth-of-type(1)>img{
    margin: 0px;
    height: 40px;
    width: 40px;
    background-color: grey;
    border-radius: 50%;
    text-decoration: none;
}
.postHeader>div:nth-of-type(1)>a:nth-of-type(2){
    grid-area: owner;
    text-decoration: none;
}
.postHeader>div:nth-of-type(1)>a:nth-of-type(2)>span{
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.postHeader>div:nth-of-type(1)>span{
    grid-area: date;
    font-size: 13px;
    font-weight: 400;
    color: grey;
}


.postHeader>div:nth-of-type(2){
    width: 30%;
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}
.postHeader>div:nth-of-type(2)>p{

    height: 10px;
    margin: 0px 10px 0px 0px;

    font-weight: bold;
    font-size: 30px;

    text-align: right;
}

.post>div:nth-of-type(2){
    font-size: 20px;
    margin-bottom: 30px;
    margin: 0px 30px 20px 30px;
}

.post>img{
    min-height: 680px;
    background-color: grey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}