.body_fyp{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}
.posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.make_post {
    background-color: white;
    width: 650px;
    padding: 0px 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
    border-radius: 15px;
}

.make_post_input{
    width: 560px;
    background-color: #f1f2f5;
    padding: 10px 10px 10px 15px;
    font-size: 100%;
    border-radius: 15px;
}