.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-inner {
    position: relative;
    width: 100%;
    max-width: 640px;
    max-height: 80%; /* Adjusted height for better visibility */
    background-color: white;
    border-radius: 10px; /* Rounded corners for better aesthetics */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */

    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ensures contents stay inside */
}

.popup-inner .close-header {
    width: 100%;
    height: 20px; /* Increased height */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns button to the right */
    border-bottom: 1px solid #ddd;
    background-color: rgba(0, 0, 0, 0.1); /* Slight background color for distinction */
}

.close-header .closeBtn {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #555;
    transition: color 0.3s;
    margin-right: 5px;
}

.close-header .closeBtn:hover {
    color: #000;
}

.popup-inner .content-section {
    margin-top: 10px;
    margin-bottom: 10px;
}

