.comments-section {
    margin-top: 10px;
    margin-bottom: 10px;
    
    width: 100%;
    flex-grow: 1; 
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 16px;

    padding-left: 20px;
}

.comment {
    width: 90%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.comment:hover {
    background-color: #fff;
    cursor: auto;
}

.comment-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0; /* Prevents image from shrinking */
}

.comment-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 15px; /* Optional: Add some border radius for rounded corners */
    font-size: 1.1em; /* Increase the font size */
}

.comment-header {
    margin: 10px 0px 5px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.comment-name {
    font-weight: bold;
}

.comment-date {
    font-size: 0.85em;
    color: gray;
    white-space: nowrap; /* Prevents wrapping */
}

.comment-text {
    padding: 0px 5px 0px 0px;
    margin:  0px 0px 10px 15px;
    font-weight: l;
}

.write_comment{
    width: 100%;
    height: 150px;
    border-top: 1px solid grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.write_comment>input{
    width: 80%;
    height: 50%;

    border: 1px solid black;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding-left: 15px;
}

.write_comment>button{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-color: white;
    border: none;


    background-image: url('http://localhost:3000/app_images/site/send.svg');
    background-size: cover;
    transition: background-image 0.3s ease;
}
.write_comment>button:hover{
    background-image: url('http://localhost:3000/app_images/site/send_blue.svg');
}